<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<script src="{{ "/js/lunr.min.js" | relative_url }}"></script>

<link href="//fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,200,100,800,900" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,600,500,300,200,100,800,900" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
